/*** CSS Reset ***/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Previous Versions

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*** Typography ***/

h2 {
    font-size: 3rem;
    font-weight: 500;
}

legend {
    font-size: 2rem;
    font-weight: 700;
}

/*** Layout ***/

.header {
    background-color: #133454;
    color: #ffffff;
}

.container {
    max-width: 1140px;
    margin: 0 auto; 
    padding: 0 1.25rem;
}

.container--small {
    max-width: 60%;
}

.container--extra-small {
    max-width: 1050px;
}

.section {
    padding: 6rem 0;
}

.section--white {
    background-color: #ffffff;
}

.section--dark-blue {
    background-color: #133454;
    color: #ffffff;
}

.section--light-blue {
    background-color: #7aa5ba;
}

.section--light-gray {
    background-color: #efefef;
}

.section__heading {
    text-transform: uppercase;
}

.section__legend {
    margin-bottom: 3rem;
}

.section--light-gray .section__heading,
.section--white .section__heading {
    color: #a98360;
}

.section--light-gray .section__legend,
.section--white .section__legend {
    color: #133454;
}

.section__footer {
    text-align: center;
    margin-top: 3rem;
}

.section__disclaimer {
    font-size: 1.5rem;
}

/*** Grid ***/

.grid {
    display: flex; 
    margin: 0 -1.25rem;
}

.grid--center {
    align-items: center;
}

.grid__cell {
    flex: 1 1 auto; 
    padding: 0 1.25rem;
}

.grid__cell--1of3 {
    flex: 1 1 33.33%; 
    max-width: 33.33%;
}

.grid__cell--2of3 {
    flex: 1 1 66.66%; 
    max-width: 66.66%; 
}

.grid__cell--1of4 {
    flex: 1 1 25%; 
    max-width: 25%;
}

.grid__cell--1of5 {
    flex: 1 1 20%; 
    max-width: 20%;
}

.grid__cell--4of5 {
    flex: 1 1 80%; 
    max-width: 80%;
}

/*** Headers ***/

.header {
    padding: 2.5rem 0;
}

.header__logos {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.header__logos-fontis {
    width: 140px;
}

.header__logos-text {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 1px;
}


/*** Option Box ***/

.option-box {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}


.option-box__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.option-box__select {
    z-index: 0;
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-color: transparent;
}

.option-box__input:checked ~ .option-box__button {
    background-color: #133454;
}

.section--dark-blue .option-box__input:checked ~ .option-box__button {
    background-color: #6b95ab;
    color: #ffffff;

}


/*.option-box__input:checked + .option-box__select {
    background-color: red!important;
}
*/


.option-box__button {
    z-index: 1;
    order: 2;
    display: inline-flex; 
    padding: .75rem 3rem; 
    background-color: #6b95ab;
    border: 6px solid #133454;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2.5rem; 
    min-width: 320px;

}

.section--dark-blue .option-box__button {
    background-color: #ffffff;
    border-color: #6b95ab;
    color: #133454;
}

.option-box__button-num {
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align: middle;
    margin-right: .5rem;
}

.option-box__button-desc {
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.option-box__price {
    z-index: 1;
    order: 3;
    font-size: 2rem;
}

.option-box__img {
    z-index: 1;
    order: 1;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2.5rem; 
}

/*** Payment ***/

.payment-options {
    padding-left: 3rem;
}

.payment-options__label {
    margin-left: -1.5rem;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #133454;
}

.payment-options > * + * {
    margin-top: 1.75rem;
}

.payment {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    align-items: center;
    justify-content: center;
}
.payment__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.payment__bg {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 4px solid #133454;
    background-color: transparent;
    z-index: 0;
}

.payment__check {
    position: absolute;
    top: -1.25rem; 
    right: -1.25rem;
    height: 48px; 
    width: 48px; 
    border: 6px solid #efefef;
    border-radius: 100px;
    background-color: #133454;
    background-image: url("/img/check@2x.png");
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    z-index: 3;
}

.payment__input:checked + .payment__check {
    display: block;
}

.payment__input:checked ~ .payment__bg {
    background-color: #ffffff;
    border-width: 6px;
}

.payment__label {
    order: 2;
    text-transform: uppercase;
    display: block; 
    text-align: center;
    margin-top: 1.25rem;
    z-index: 1;
}

.payment__img {
    display: block; 
    margin: 0 auto;
    order: 1;
    height: 30px;
    width: auto;
    z-index: 1;
}

/*** Form Group ***/

.form-group {
    display: block;
}

.form-group + .form-group {
    margin-top: 1.5rem;
}

.form-group__label {
    display: block;
    font-size: 1.5rem; 
    font-weight: 700;
    color: #00163a;
    margin-bottom: .75rem;
}

.form-group__input {
    border: 2px solid #00163a;
    color: #00163a;
    padding: .75rem 1rem;
    width: 100%;
    display: block;
}

/*** Display Banner ***/

.display-banner {
    color: #00163a;
}

.display-banner__group {
    padding-right: 5rem; 
}

.display-banner__text {
    font-size: 3rem; 
    font-weight: 700; 
    
    text-transform: uppercase;
}

.display-banner__cite {
    text-align: right;
    font-size: 2rem; 
    font-weight: 700; 
}

/*** Total ***/

.total {
    font-size: 2rem;
    font-size: 500;
}

.total__label {
    display: block;
}

/*** Button ***/

.button {

    display: inline-block; 
    padding: .75rem 3rem; 
    background-color: #6b95ab;
    border: 6px solid #133454;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    min-width: 320px;
}

.button--submit {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.25rem;
}

/*** Disclaimer ***/

.disclaimer {
    max-width: 600px; 
    margin-top: 1.5rem;
}

/*** Menu ***/


.menu--social .menu__list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.menu--social .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
    text-decoration: none;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #133454;
    
}

.menu--social .menu__item + .menu__item {
    margin: 0; 
    margin-left: .5rem;
}

.menu__list {
    list-style: none;
    margin: 0;
}

.menu__link,
.menu__item,
.menu__heading {
    color: #ffffff;
}

.menu__heading {
    font-weight: 700;
    margin-bottom: 1rem; 
}

.menu__link {
    text-decoration: none;
}

.menu__item + .menu__item {
    margin-top: 1rem;
}

/*** Footer ***/

.footer__info > * + * {
    margin-top: 1.5rem;
}

.footer__phone {
    margin-top: 1.5rem; 
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.footer__lower {
    text-align: center;
}

.footer__lower-icon {
    margin-bottom: 1.5rem;
}

.footer__lower-icon img {
    max-width: 60px; 
    width: 100%; 
}

.footer__logo img {
    max-width: 130px;
    width: 100%;
}

/*** Logos ***/

.logo-title {
    display: inline-flex;
    align-items: center;
}

.logo-title > * + * {
    margin-left: 1.5rem;
}

.logo-title__coffee {
    max-width: 80px;
}

.logo-title__x {
    font-size: 1.25rem;
}

.logo-title__fontis {
    max-width: 140px;
}

/*** Utility ***/

.delivery {
    max-width: 180px; 
    width: 100%;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


.text-large {
    font-size: 1.5rem; 
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

.text-gray {
    color: #3a4047;
}

.img-center {
    margin: 0 auto;
}